<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <link rel="manifest" href="img/manifest.json" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="Mister IT" />
  <meta name="apple-mobile-web-app-title" content="Mister IT" />
  <meta name="theme-color" content="#24a428" />
  <meta name="msapplication-navbutton-color" content="#24a428" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="icon" type="image/png" sizes="192x192" href="img/android-chrome-192x192.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="img/android-chrome-192x192.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="img/android-chrome-512x512.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="img/android-chrome-512x512.png" />
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="css/font-face.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.1/css/all.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
</head>

<body class="jetbrains-mono-regular d-flex flex-column h-100">